.WorkHistory {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}

.WorkHistory__posContainer {
    height: 100%;
    width: 90%;
    padding: 2.25% 2% 1% 2%;
    margin: 1% 0 1.5% 2%;
    border-radius: 25px;
    transition: .3s ease-in-out;
    border: 5px solid #f2d471;
    margin-bottom: 3%;
}

.posContainer__title {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 1%;
    color: #e16a8b;
}

.posContainer__company {
    font-style: italic;
    font-weight: 800;
    margin-bottom: .25%;
    color: #e16a8b;

}

.posContainer__dates {
    font-style: italic;
    margin-bottom: 1.25%;
    color: #e16a8b;

}

.posContainer__bullet {
    margin-bottom: 2%;
    line-height: 130%;
    width: 85%;
}