.AudioController {
    position: absolute;
    top: 90%;
    bottom: 5%;
    left: 20%;
    right: 5%;
    height: 90%;
    width: 90%;
    height: 6%;
    width: 60%;
}

.AudioController__audio {
    width: 100%;
    height: 100%;
    border: 7px ridge #e16a8b;
    border-radius: 25px;
}